<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>{{question.question}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             //bar graph
        </div>
    </div>

</div>
