<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 err404">
            <img class="err" src="/img/404.png" alt="404 Error! Page not found!">
        </div>
    </div>
</div>