<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br><br>

            <h3>User's Profile</h3>
            <br>
            <img class="img-thumbnail img-responsive" src="{{user.img}}" alt="{{user.username}}'s profile picture" />
            <br><br>
            <ul class="list-group">
                <li class="list-group-item">Username:  {{user.username}}</li>
                <li class="list-group-item">Email:  {{user.email}}</li>
            </ul>
            <br><br>
        </div>
    </div>
</div>